/*
  ========================
        SITE-HEADER
  ========================
*/

/* Site game and links */
.site_nav{
  background-color: #2c2c2c;
}

@media(min-height: 720px){
  .site_header{
    height: 100vh;
  }

  .site_info_logo{
    margin-top: 15vh;
  }
}

.html_color{
  color: var(--main);
}

.site_info_logo{
  color: white; 
}

.site_info{
  text-align: center;
}

.site_logo img{
  width: 100%;
  height: auto;
}

.comment_style{
  color: #d879fd;
}

.site_info h1{
  font-size: 2.7rem;
}

.site_info p{
  font-size: 1.5rem;
}

.site_info a{
  font-size: 2rem;
  margin: 0 20px;
}

.social{
  justify-content: center;
}

@media (min-width: 768px){

  .site_info a{
    text-align: left;
  }
  .site_info_logo{
    margin-top: 30vh;
  }

  .site_info{
    text-align: left;
    float: left;
    width: 40%;
  }

  .site_logo{
    float: left;
    width: 60%;
  }
}

/* Site skill */

.subtitle{
  text-align: center;
  color: var(--main);
  margin-bottom: 5vh;
  text-transform: capitalize;
  font-style: italic;
  padding-top: 10vh;
}

.single_skill{
  border-radius: 5px;
  margin: 10px;
  background-color: #3b3246;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.164);
  position: relative;
}

.single_skill p{
  font-size: .9rem;
}

.single_skill h2{
  text-align: center;
  color: var(--main);
  margin: 10px;
}

.skillLogo{
  font-size: 3rem;
  text-align: center;
  padding: 10px;
  color: var(--main);
}

.selector{
  position: absolute;
  background-color: #ab04f8;
  display: none;
  padding: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* Site projects */

.single_project h3{
  text-align: center;
}

.project_video{
  width: auto!important;
  height: auto!important;
}

.project_video video{
  border-radius: 10px;
}

.project_content{
  margin: auto;
  width: 80%;
  position: relative;
  overflow: hidden;
}

.project_content:hover .project_info{
  right: 0;
}

.project_info{
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 40%;
  background-color: rgba(56, 38, 61, 0.671);
  padding: 20px;
  height: 100%;
  color: white;
  right: -100%;
  transition: 1s all ease-in-out;
  font-size: .7rem;
}

.live_version{
  margin: auto;
  display: block;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #ec5fff!important;
  transition: .5s all ease-in-out;
  text-decoration: none;
}

.live_version:hover{
  color: #8931f5!important;
  font-size: 1.4rem;
  text-decoration: none;
}

.sourcecode{
  display: block;
  margin: auto;
}

@media (min-width: 991px){
  .project_info{
    font-size: 1rem;
  }
}

/* site-contact me */
.contact_link{
  transition: 1s all ease-in-out;
}

.contact_link:hover{
  background-color: #5d3b88;
}

.download_btn{
  display: block;
  margin: 20px auto;
  width: 200px;
}
